

<div class="text-center">
	<%= link_to admin_administrators_cms_path, class: "btn btn-info btn-lg" do%>
	<i class="glyphicon glyphicon-star">CMS</i>
	<%end%>


</div>

<div class="row">
	<div class="col-md-3 center-block no-float">
	<%= link_to admin_administrators_cms_path, class: "btn btn-info btn-lg" do%>
	<i class="glyphicon glyphicon-star">CMS</i>
	<%end%>


	<%= link_to admin_administrators_alervac_path, class: "btn btn-info btn-lg" do%>
	<i class="glyphicon glyphicon-star">ALERVAC</i>
	<%end%>


<%=button_to "CMS", admin_administrators_cms_path(), class: "btn btn-info btn-lg" %>
</div>
</div>


